
p {
	margin-right: 36px;
	margin-left: 36px;
	margin-bottom: 12px;
	margin-top: 12px;
	line-height: 24px;
	font-size: 12px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

h1 {
	color: #4e7bb1;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

h2 {
	color: #314c6c;
	font-size: 18px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-left: 18px;
	margin-right: 36px;
}

h3 {
	color: #4e7bb1;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-left: 36px;
	margin-right: 36px;
	border-bottom:1px solid #4e7bb1
}

h4 {
	color: #4e7bb1;
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-left: 36px;
	margin-right: 36px;
}

li {
	line-height: 24px;
	font-size: 12px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-right: 36px;
	margin-left: 36px;
}

.toc {
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-left: 18px;
	margin-right: 36px;
}

.headnote {
	margin-right: 36px;
	margin-left: 36px;
	line-height: 20px;
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #4e7bb1;
}

.license {
	font-family: monospace;
	font-size: 12px;
}

.contact {
	font-family: monospace;
	font-size: 12px;
	line-height: 18px;
	margin-left: 72px;
}

.diagram {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.jsonpayload {
	margin-right: 36px;
	margin-left: 72px;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 20px;
	font-size: 12px;
	font-family: monospace;
}

.jsonheader {
	margin-right: 36px;
	margin-left: 54px;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 20px;
	font-size: 11px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #808080;
}

.samplecode {
	overflow-x: auto;
	margin-left: 72px;
}

.ftable {
	margin-left: 54px;
	margin-right: 36px;
	border: 0px;
}

.fheader {
	font-style: italic;
}

.ftable td {
	vertical-align: top;
	padding-left: 18px;
	padding-bottom: 18px;
	line-height: 20px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
}